/*
Theme Name: VAN DYKE STORE (Storefront Child)
Theme URL: 
Description: VAN DYKE
Author: Ayman Guandique
Author URL: 
Template: storefront
Version: 1.0.0
Text Domain: storefront-child
*/
.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-title, .page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-content {
  color: white !important; }

.back-button {
  text-align: center;
  background-color: grey;
  width: 30%;
  margin: 0 auto;
  border-radius: 20px; }

.back-button a {
  color: white; }

.back-button p {
  padding: 10px; }

.center-image {
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
